@{
    ViewBag.Title = "游民话题 _ 游民星空 GamerSky.com";
    Layout = "~/Views/Shared/_LayoutWapClub.cshtml";
}
<div class="qzMain" id="qzMain">
    <section class="qz-all-topic">
        <h5>全部话题</h5>
        <ul id="qzAllTopicList" data-page="0" data-pageSize="10"  data-loading="false">         
        </ul>
    </section>
    <div class="qz-loaded" style="display:none">全部加载完成</div>
</div>

